.gradient_background {
  background: linear-gradient(#EBEBE9, #EDEDEB);
  color: white;
  position: relative;
  overflow: hidden;
}


 .header {
  margin-top: 30px;
  margin-bottom: 10px;
 }

 .header_wrapper {
  display: flex;
  align-items:center;
  justify-content: space-between;
 }
 .header_logo {
  max-height: 182px;
 }
 .header_navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
 }

 .header_navigation-item {
  padding: 11px 32px;
  text-decoration: none;
  color: #292929;
  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 10%;
 }