.introduction {
  display: flex;
  gap: 14px;
  align-items: center;
  position: relative;
  z-index: 1;
  top: -150px;
}

.introduction-image {
  flex: 1;
  max-width: 990px;
}

.introduction-image img {
  
}

.introduction-text {
  flex: 1;
  margin-right: 291px;
  margin-bottom: -290px;
  max-width: 587px;
}

.introduction-text p {
  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.1vw;
  color:#000000;
}

.introduction-button {
  padding: 11px 32px;
  margin-top: 14px;
  color: #000000;
  text-decoration: none;
  border: none;
  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
}