.gradient__background {
  background: linear-gradient(#EBEBE9, #EDEDEB);
  color: white;
  position: relative;
  overflow: hidden;
}

.header {
  padding-top: 30px;
  padding-bottom: 10px;

  &__wrapper {
    display: flex;
    align-items:center;
    justify-content: space-between;
  }

  &__logo {
    max-height: 182px;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    padding: 11px 32px;
    text-decoration: none;
    color: #292929;
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 10%;
  }
 }